<template>
  <input v-model="text" />
  <button @click="emitEvent">Submit text</button>
</template>

<script setup>
  const text = ref('')
  const emit = defineEmits(['myEvent'])
  const emitEvent = () => {
    emit('myEvent', text.value)
  }
</script>
