<template>
    <p>My username is <strong>{{ username }}</strong></p>
</template>

<script setup>
  defineProps({
    username: {
      type: String,
      default: 'Pass props to component'
    }
  })
</script>
