<template>
    <NuxtLink to="/">Home page</NuxtLink>
    <h1>About router</h1>

    <p>page: {{ page }}</p>

    <button @click="increment">Increment</button>

    <nuxtLink :to="{name: 'router-page', query: {page: page}}">go to page {{ page }}</nuxtLink>
</template>

<script setup lang="ts">
    const route = useRoute();
    const page = ref(1);

    const increment = () => {
        page.value++
        // refresh()
    }

    definePageMeta({
        name: 'router-page',
        title: 'About router',
        // path: '/router-usage',
        layout: 'custom-layout'
    })

    onMounted(() => {
        page.value = route.query.page ? parseInt(route.query.page) : 1;
    })

    watch(page, (te) => {
        console.log(te)
    })
</script>
