<template>
    <h1>Dato usage</h1>
    <h2>Blog header</h2>
    <div v-if="headerPending">
        <p>Loading data</p>
    </div>
    <div v-else-if="headerError">
      <p>error: {{ headerError }}</p>
    </div>
    <div v-else>
        <p>Site name: {{ cmsHeader?.header?.siteName }}</p>
    </div>

    <h2>Blog results</h2>
    <div v-if="postsPending">
        <p>Loading data</p>
    </div>
    <div v-else-if="blogError">
      <p>error: {{ blogError }}</p>
    </div>
    <div v-else>
        <ul>
            <li v-for="post in blogPosts.allBlogPosts" :key="post.id">
                <nuxt-link :to="{name: 'blog-slug', params: {slug: post.blogSlug}}">{{ post.blogTitle }}</nuxt-link>
            </li>
        </ul>
    </div>

    <h2>Blog footer</h2>
    <div v-if="footerPending">
        <p>Loading data</p>
    </div>
    <div v-else-if="footerError">
      <p>error: {{ footerError }}</p>
    </div>
    <div v-else>
        <p v-for="item in cmsFooter.footer.differentUsage" :key="item.id">{{ item.title }}</p>
    </div>
</template>

<script setup>
    import blog_post from '@/cms/queries/blog_post';
    import header from '@/cms/queries/header';
    import footer from '@/cms/queries/footer';

    const { data: blogPosts, pending: postsPending, error: blogError } = await useLazyAsyncQuery(blog_post)
    const { data: cmsHeader, pending: headerPending, error: headerError } = await useLazyAsyncQuery(header)
    const { data: cmsFooter, pending: footerPending, error: footerError } = await useLazyAsyncQuery(footer)
</script>
