<template>
  <h1>Event usage</h1>
  <div>
    <event-component @myEvent="showText" />

    <p>Retrieve from event: {{ myText }}</p>
  </div>
</template>

<script setup>
  const myText = ref('')
  const showText = (value) => {
    myText.value = value
  }
</script>

