<template>
  <h1>Input management</h1>
  <div class="input-group">
    <label for="simple">Simple field: {{ inputVal }}</label>
    <input v-model="inputVal" id="simple" placeholder="Simple field"/>
  </div>

  <div class="input-group">
    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{ message }}</p>
    <textarea v-model="message" placeholder="add multiple lines"></textarea>
  </div>

  <div class="input-group">
    <label for="select">Select field: {{ select }}</label>
    <select name="animal" id="select" v-model="select">
      <option value="lion">Lion</option>
      <option value="tiger">Tiger</option>
      <option value="leopard">Leopard</option>
    </select>
  </div>

  <div class="input-group">
    <p>Checkbox: {{ checkBox }}</p>
    <label>I agree to the terms
      <input type="checkbox" v-model="checkBox" />
      <span></span>
    </label>
  </div>

  <div class="input-group">
    <p>Radio: {{ picked }}</p>
    <label>Apples
      <input type="radio" name="fruit" value="apples" checked v-model="picked"/>
    </label>
    <label>Oranges
      <input type="radio" name="fruit" value="oranges" v-model="picked"/>
    </label>
    <label>Grapes
      <input type="radio" name="fruit" value="grapes" v-model="picked"/>
    </label>
  </div>
</template>

<script setup>
  const inputVal = ref('')
  const message = ref('')
  const select = ref('')
  const checkBox = ref(true)
  const picked = ref('')
</script>

<style>
  *, *:before, *:after {
    box-sizing: border-box;
  }
  p {
    margin: 0;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }
  input {
    padding:10px;
    margin:10px 0;
    border-radius:10px;
  }
</style>
